[#escape x as (x)!?html]
  <link rel="stylesheet" href="${files}/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="${files}/vendor/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="${files}/css/main.css">
  <link rel="stylesheet" href="${files}/css/2019style.css">
  <style>
    .row{
        margin-top: 20px !important;
      }
    .article-content {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    body{
      background-image: url("/templates/share/zhengbao/_files/images/bg_m.jpg");
      background-size: 100% 300px;
      background-repeat: no-repeat;
      background-position: center top;
      margin: 0;
      padding: 0;
      height: 100vh;
    }
  </style>
[/#escape]
